{% if request.path != '/' and request.path != '/login/' and request.path != '/register/' %}
    <section id="navigation" class="my-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12">
                    <a href="
                        {% with '/settings/'|add:user.username|add:'/' as user_settings and '/profile/'|add:user.username|add:'/' as user_profile' %}
                            {% if request.path == user_settings or request.path == user_profile %}
                                {% url 'index' %}
                            {% else %}
                                {{ request.META.HTTP_REFERER|escape }}
                            {% endif %}
                        {% endwith %}">
                        <i class="fa-solid fa-arrow-left fa-xl text-dark"></i>
                    </a>
                </div>
		    </div>
        </div>
    </section>
{% endif %}
