{% if '/' != request.path %}
    <section id="navigation" class="my-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12">
                    <a href="
                        {% with user.username|add:'/settings/' as user_settings %}
                        {% if request.path == user_settings %}
                            {% url 'index' %}
                        {% else %}
                            {{ request.META.HTTP_REFERER|escape }}
                        {% endif %}
                        {% endwith %}">
                        <i class="fa-solid fa-arrow-left fa-xl text-dark"></i>
                    </a>
                </div>
		    </div>
        </div>
    </section>
{% endif %}
