{% extends 'base.html' %}

{% block title %} | Answer Friend Request{% endblock%}

{% block content %}
<!-- Notifications -->
<section id="home" class="my-3 my-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}
                <h1 class="border-3 border-bottom border-dark pb-3">Respond to {{ friend_request.from_user.profile.display_name }}'s friend request!</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="accept-request" class="btn btn-dark">Accept</button>
                    <button type="submit" name="decline-request" class="btn btn-outline-danger">Decline</button>
                 </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}