{% extends 'base.html' %}

{% block title %} | Following List{% endblock%}

{% block content %}
<!-- Profile -->
<section id="home" class="my-3 my-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}
                {% for user in user_for_friends_list %}
                    <h1 class="border-3 border-bottom border-dark pb-3">{{ user.profile.display_name }}'s Friends</h1>
                    <div class="d-flex flex-column p-3">
                        {% for user in user.friends.all %}
                            <a href="{% url 'profile' user.username %}">{{ user.profile.display_name }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}                  
            </div>
        </div>
    </div>
</section>
{% endblock %}