{% extends 'base.html' %}
{% block title %} | Friends List{% endblock%}

{% block content %}
<!-- Profile -->
<section id="home" class="my-3 my-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}
                <div class="d-flex flex-column align-items-center p-3 border-3 border-bottom border-dark">
                    {% for profile in profile %}
                        {{ profile.user.friends }}
                    {% endfor %}                  
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}