{% extends 'base.html' %}

{% load static %}

{% block title %} | My Profile {% endblock%}

{% block content %}
<!-- Profile -->
<section id="home" class="my-3 my-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}   
                <div class="d-flex flex-column align-items-center p-3 border-3 border-bottom border-dark">
                    <img src="
                        {% if profile.profile_image %} 
                            {{ profile.profile_image.url }}
                        {% else %}
                            {% static 'base/profile_picture.jpg'%}
                        {% endif %}
                    " alt="Profile picture" style="width:250px; height:250px;" class="rounded-circle border border-3 border-dark">
                    <div class="text-center">
                        <h1 class="h1 my-3">
                            {{ profile.display_name }}
                        </h1>
                        <p class="lead pb-3 mb-4">{{ profile.biography }}</p>   
                    </div>
                    {% if profile.user == user %}
                        <a class="btn btn-dark" href="{% url 'edit-profile' user.username %}">Edit profile</a>
                    {% endif %}
                    
                    {% if profile.user != user and not is_following %}
                        <form method="post" action="{% url 'profile' profile.user.username %}">
                            {% csrf_token %}
                            <button class="btn btn-dark">Follow</button>
                        </form>
                    {% elif profile.user != user %}
                    <form method="post" action="{% url 'profile' profile.user.username %}">
                        {% csrf_token %}
                        <button class="btn btn-dark">Unfollow</button>
                    </form>
                    {% endif %}
                    {% if is_follower %}
                        <p class="text-success">
                            <i class="fa-solid fa-circle-check"></i>
                            Follows you
                        </p>
                    {% endif %}
                </div>
                <div class="p-3">
                    
                </div>                              
            </div>
        </div>
    </div>
</section>
{% endblock %}

