{% extends 'base.html' %}

{% block title %} | Settings {% endblock%}

{% block content %}
<!-- Settings -->
<section id="settings" class="my-3 my-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-5 p-0 pb-5 border-bottom border-secondary">
                        <h2 class="mb-4">Update Email Address</h2>
                        <p>Click the button below to update your email address.</p>
                        <p>Current Email: {{ user.email }}</p>
                        {% if user.is_active %} 
                            <p class="text-success">
                                <i class="fa-solid fa-circle-check"></i>
                                Email address verified
                            </p>
                        {% else %}
                            <p class="text-danger mb-1">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                Email address not verified
                            </p>
                            <p class="">
                                Check your email for a verifiction link.
                            </p>
                        {% endif %}
                        <a class="btn btn-dark"href="{% url 'update-email' user.username %}">Update Email</a>
                    </li>
                    <li class="list-group-item mb-5 p-0 pb-5 border-bottom border-secondary">
                        <h2 class="mb-4">Change Password</h2>
                        <p>Click the button below to update your password. You will be required to provide your current password.</p>
                        <a class="btn btn-dark"href="{% url 'update-password' %}">Update Password</a>
                    </li>
                    <li class="list-group-item mb-5 p-0 pb-5 border-bottom border-secondary">
                        <h2 class="mb-4">Reset Password</h2>
                        <p>Click the button below to reset your password. Use this if you forgot your current password.</p>
                        <a class="btn btn-dark"href="{% url 'reset-password-request' %}">Reset Password</a>
                    </li>
                    <li class="list-group-item mb-5 p-0 pb-5 border-bottom border-secondary">
                        <h2 class="mb-4">Delete Account</h2>
                        <p>Click the button below to delete your account.</p>
                        <a class="btn btn-outline-danger"href="{% url 'delete-account' user.username %}">Delete Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

