{% extends 'base.html' %}

{% block title %} | Settings {% endblock%}

{% block content %}
<!-- Base Page -->
<section id="settings" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% include 'partials/_alerts.html' %}
                {% if user.is_authenticated %}
                    
                {% else %}
                    <p>You are not logged in.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

