{% extends 'base.html' %}

{% load form_tags %}

{% block title %} {% endblock %}

{% block content %}
<!-- Form Section -->
<section id="form-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {% include 'partials/_alerts.html' %}
                <h1 class="h1 pb-3 mb-4 border border-top-0 border-start-0 border-end-0 border-bottom-1 border-dark">{{ title }}</h1>
                <p>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field|add_class:"form-control mb-4" }}
                    {{ field.errors }}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}